<section class="speaker-bg section-padding">
  <div class="container">
    <div class="section-intro section-intro-white text-center pb-98px">
      <!-- <p class="section-intro__title">Join the event</p> -->
      <h2 class="primary-text">Our Team</h2>
      <img src="img/home/section-style.png" alt="">
    </div>

    <div class="row" *ngIf="newTeamLists">
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" *ngFor="let item of newTeamLists">
        <div class="card-speaker">
          <img class="card-img rounded-0" src="img/home/{{item.profileImage}}" alt="{{item.profileImage}}">
          <div class="speaker-footer">
            <h4>{{item.name}}</h4>
            <p>{{item.designation}}</p>
          </div>
          <div class="speaker-overlay">
            <ul class="speaker-social">
              <li><a href="{{item.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="{{item.twitter}}"><i class="ti-twitter-alt"></i></a></li>
              <li><a href="{{item.linkedin}}"><i class="ti-instagram"></i></a></li>
              <li><a href="{{item.github}}"><i class="ti-skype"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ Blog section Start =================-->
<section class="section-margin">
  <div class="container">
    <div class="section-intro text-center pb-98px">
      <!-- <p class="section-intro__title">Join the event</p> -->
      <h2 class="primary-text">Previous Events</h2>
      <img src="img/home/section-style.png" alt="">
    </div>

    <div class="owl-theme owl-carousel blogCarousel pb-xl-1">
      <div class="card-blog" *ngFor="let item of neweventList">
        <!-- <img class="card-img" src="img/blog/blog1.png" alt=""> -->
        <div class="blog-body">
          <a href="{{item.link}}">
            <h3>{{item.name}}</h3>
          </a>
          <ul class="blog-info">
            <li><a href="#"><i class="ti-comments-smiley"></i> 03 Feb, 2019</a></li>
            <!-- <li><a href="#"><i class="ti-time"></i> No Comment</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
